<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Pay My Buddy - Profile</title>

    <style>
        .breadcrumb {
            box-shadow: 0px 0px #d5d4d4;
            /*background: #eeeded;*/
            background: #f5f5f5;
            border: 0px solid #eeeded;
            border-radius: 0px;
            padding: 0 5px 0 10px !important;
            font-size: 16px;
            line-height:2em;
        }
    </style>

</head>
<body>
    <div class="container-fluid px-3">

        <div th:insert="menu :: menu"></div>
    
        <nav class ="row" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a class="text-decoration-none" href="/home" th:text="#{menu.home}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="#{menu.profile}">Profile</li>
          </ol>
        </nav>

        <!-- Email warning -->
        <div th:insert="banners :: nullEmailInProfileNoLink"></div>

        <!-- Profile updated successfully -->
        <div th:insert="banners :: profileupdated"></div>
        
        <!-- password incorrect -->
        <div th:insert="banners :: incorrPass"></div>

        <!-- blank new pass -->
        <div th:insert="banners :: blankPass"></div>
        
        <!-- email already used -->
        <div th:insert="banners :: usedEmail"></div>

        <!-- blank mail -->
        <div th:insert="banners :: blankEmail"></div>
        
        <!-- email mismatch -->
        <div th:insert="banners :: emailMismatch"></div>

        <div class="row">
            <div class="col-0 col-md-1 col-lg-2">

            </div>

            <div class="col-12 col-md-10 col-lg-8">
                <div class="row row-cols-xs-3">
                   <div class="col d-flex flex-column justify-content-center mb-2 mb-sm-0">

                        <h5 class="m-2"><strong th:text="#{profile.title}">My Profile</strong></h5>
                                          
                   </div>

                </div>

                <div class="row bg-light rounded-3">
                    <!-- Form for profile Modification -->
                    <form action="#" method="post" th:action="@{/profile}" class="p-0 p-md-3">
                        <div class="row">
                            <div class="col">
                                <p class="mt-3 alert alert-info" th:text="#{profile.banner}">You can change any information about your profile here. Old password is always required for any change.</p>
                            </div>
                        </div>

                        <!-- identity form part -->
                        <div class="mb-3">
                            <label id="identityTitle" class="form-label" th:text="#{profile.identityTitle}">Your identity</label>
                            <div class="input-group">
                                <span class="input-group-text" id="labelFirstname" th:text="#{profile.firstname}">Firstname</span>
                                <input id="inputFirstname" class="form-control" type="text" name="firstName"  aria-label="firstname" aria-describedby="labelFirstname" placeholder="Firstname" th:placeholder="#{profile.firstnamePlaceholder}" th:value="${userFirstName}" required>
                                <span class="input-group-text" id="labelLastname" th:text="#{profile.lastname}">Lastname</span>
                                <input id="inputLastname" class="form-control" type="text" name="lastName"  aria-label="lastname" aria-describedby="labelLastname" placeholder="Lastname" th:placeholder="#{profile.lastnamePlaceholder}" th:value="${userLastName}">
                            </div>
                            <div id="firstnameHelp" class="form-text" th:text="#{profile.identityHelper}">
                                Your first and last name will appear as so in people's connections.
                            </div>
                        </div>

                        <!-- email form part -->
                        <div class="mb-3">
                            <label id="emailTitle" class="form-label" th:text="#{profile.emailTitle}">Your email</label>
                            <div class="input-group">
                                <span class="input-group-text" id="labelEmail" th:text="#{profile.email}">Email</span>
                                <input id="inputEmail" class="form-control" type="email" name="email"  aria-label="email" aria-describedby="labelEmail" placeholder="Email" th:placeholder="#{profile.emailPlaceholder}" th:value="${userEmail}" required>
                                <span class="input-group-text" id="labelEmailConfirmation" th:text="#{profile.emailConfirm}">Confirm</span>
                                <input id="inputEmailConfirmation" class="form-control" type="email" name="emailConfirmation"  aria-label="emailConfirmation" aria-describedby="labelEmailConfirmation" placeholder="Email confirmation" th:placeholder="#{profile.emailConfirmPlaceholder}" onpaste="return false;" ondrop="return false;" autocomplete="off">
                            </div>
                            <div id="emailHelp" class="form-text" th:text="#{profile.emailHelper}">
                                The email is your login.
                            </div>
                        </div>

                        <!-- password form part -->
                        <div class="mb-3">
                            <label id="passwordTitle" class="form-label" th:text="#{profile.passwordTitle}">Your password</label>

                             <div id="passwordDistant" class="form-text" th:if="${!userIsLocal}">
                                <span th:text="#{profile.passwordOAuthHelper.1}">Your password is set by OAuth2 authentication.</span><br>
                                <span th:text="#{profile.passwordOAuthHelper.2}">You have logged in with a distant provider.</span>
                            </div>

                            <!-- old password form part -->
                            <div class="input-group mb-3" th:if="${userIsLocal}">
                                <label id="currentPasswordTitle" class="input-group-text" th:text="#{profile.password}">Password</label>
                                <input id="inputCurrentPassword" type="password" name="currentPassword" class="form-control" aria-label="currentPassword" aria-describedby="currentPasswordTitle" >
                            </div>

                            <!-- new password form part -->
                            <div class="form-check mb-1" th:if="${userIsLocal}">
                                <input class="form-check-input" type="checkbox" value="true" id="changePasswordCheckBox" name="changePassword" aria-describedby="labelChangePassword">
                                <label class="form-check-label" for="changePasswordCheckBox" th:text="#{profile.changePass}">Change password ?</label>
                            </div>
                            <div class="input-group mb-3" th:if="${userIsLocal}">
                                <span id="newPasswordTitle" class="input-group-text" th:text="#{profile.newPass}">New password</span>
                                <input id="inputNewPassword" type="password" name="newPassword" class="form-control" aria-label="newPassword" aria-describedby="newPasswordTitle" >
                                <span id="newPasswordConfirmationTitle" class="input-group-text" th:text="#{profile.newPassConf}">Confirm</span>
                                <input id="inputNewPasswordConfirmation" type="password" name="newPasswordConfirmation" class="form-control" aria-label="newPasswordConfirmation" aria-describedby="newPasswordConfirmationTitle" >
                            </div>
                        </div>
                        
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary" th:text="#{btn.apply}">Apply</button>
                            <a class="btn btn-secondary" role="button" href="/home" alt="cancel" th:text="#{btn.cancel}">Cancel</a>
                        </div>

                    </form>

                    

                </div>

                <div class="row bg-warning mt-3">
                    <a class="btn btn-danger" role="button" href="/profile/delete" alt="erase my acount" th:text="#{btn.eraseAccount}">Erase my account</a>
                </div>

            </div>

            <div class="col-0 col-md-1 col-lg-2">

            </div>

        </div>

        <div th:insert="footer :: footer"></div>

    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>